BODY
{
	background-color: black;
	color: white;
	font-family: 'Arial', sans-serif;
}

HEADER
{
	width: 1100px;
	margin: 0 auto;
}

HEADER IMG
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}

.container{
	vertical-align: middle;
	display: inline-block;
	position: relative;
}

SECTION.carousel
{
	width: 800px;
	overflow: hidden;
	margin: 0 auto;
}

#carousel
{
	/*border: 1px solid red;*/
	width: 20000px;
	position: relative;
	-webkit-transition: margin-left 1s;

}

#carousel .paragraphe
{
	margin: 0;
 	/*border: 1px dotted blue;*/
	width: 800px;
	display: inline-block;
	position: relative;
}

#carousel .paragraphe P
{
	font-family: 'Arial', sans-serif;
	font-size: 24px;
	margin: 2px 0;
	/*border: 1px solid green;*/
	-webkit-transition: left 3s;
	-webkit-transition: opacity 2s;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=0);
	opacity: 0;
}

#carousel .paragraphe P+P
{
	-webkit-transition-delay: 4s;
}


#carousel .displayed P
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
		filter: alpha(opacity=99);
	opacity: 1
}

#carousel A
{
	display: none;
	color: #ccc;
	position: absolute;
	right: 10px;
	bottom: 5px;
	margin: 0 20px;
	text-decoration: none;
}

#carousel A:hover
{
	text-decoration: underline;
}

.menu
{
	width: 30px;
	display: inline-block;
	margin: 5px 0 0 20px;
	vertical-align: top;
}

.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions{
	display: block;
}
